In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../DSBDAL_Exam_DataSets/Iris/Iris.csv", header=None)
df

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
df.columns = ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species']
df

     SepalLength  SepalWidth  PetalLength  PetalWidth         Species
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
df.shape

(150, 5)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Species      150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

# Create subsets

In [6]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
df_setosa = df[df['Species'] == 'Iris-setosa']
df_setosa.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth      Species
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [8]:
df_versicolor = df[df['Species'] == 'Iris-versicolor']
df_versicolor.head()

    SepalLength  SepalWidth  PetalLength  PetalWidth          Species
50          7.0         3.2          4.7         1.4  Iris-versicolor
51          6.4         3.2          4.5         1.5  Iris-versicolor
52          6.9         3.1          4.9         1.5  Iris-versicolor
53          5.5         2.3          4.0         1.3  Iris-versicolor
54          6.5         2.8          4.6         1.5  Iris-versicolor

In [9]:
df_virginica = df[df['Species'] == 'Iris-virginica']
df_virginica.head()

     SepalLength  SepalWidth  PetalLength  PetalWidth         Species
100          6.3         3.3          6.0         2.5  Iris-virginica
101          5.8         2.7          5.1         1.9  Iris-virginica
102          7.1         3.0          5.9         2.1  Iris-virginica
103          6.3         2.9          5.6         1.8  Iris-virginica
104          6.5         3.0          5.8         2.2  Iris-virginica

# Merge 2 subsets

In [10]:
df_merge = pd.concat([df_setosa, df_versicolor])
df_merge

    SepalLength  SepalWidth  PetalLength  PetalWidth          Species
0           5.1         3.5          1.4         0.2      Iris-setosa
1           4.9         3.0          1.4         0.2      Iris-setosa
2           4.7         3.2          1.3         0.2      Iris-setosa
3           4.6         3.1          1.5         0.2      Iris-setosa
4           5.0         3.6          1.4         0.2      Iris-setosa
..          ...         ...          ...         ...              ...
95          5.7         3.0          4.2         1.2  Iris-versicolor
96          5.7         2.9          4.2         1.3  Iris-versicolor
97          6.2         2.9          4.3         1.3  Iris-versicolor
98          5.1         2.5          3.0         1.1  Iris-versicolor
99          5.7         2.8          4.1         1.3  Iris-versicolor

[100 rows x 5 columns]

# Sort on petal length

In [11]:
df_sort = df.sort_values('PetalLength')
df_sort

     SepalLength  SepalWidth  PetalLength  PetalWidth         Species
22           4.6         3.6          1.0         0.2     Iris-setosa
13           4.3         3.0          1.1         0.1     Iris-setosa
14           5.8         4.0          1.2         0.2     Iris-setosa
35           5.0         3.2          1.2         0.2     Iris-setosa
36           5.5         3.5          1.3         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
131          7.9         3.8          6.4         2.0  Iris-virginica
105          7.6         3.0          6.6         2.1  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica
118          7.7         2.6          6.9         2.3  Iris-virginica

[150 rows x 5 columns]

In [12]:
df_sort = df.sort_values('PetalLength', ascending=False)
df_sort

     SepalLength  SepalWidth  PetalLength  PetalWidth         Species
118          7.7         2.6          6.9         2.3  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica
105          7.6         3.0          6.6         2.1  Iris-virginica
131          7.9         3.8          6.4         2.0  Iris-virginica
..           ...         ...          ...         ...             ...
36           5.5         3.5          1.3         0.2     Iris-setosa
35           5.0         3.2          1.2         0.2     Iris-setosa
14           5.8         4.0          1.2         0.2     Iris-setosa
13           4.3         3.0          1.1         0.1     Iris-setosa
22           4.6         3.6          1.0         0.2     Iris-setosa

[150 rows x 5 columns]

# Transpose

In [13]:
df_transpose = df.transpose()
df_transpose

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
SepalLength,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
SepalWidth,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
PetalLength,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
PetalWidth,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
Species,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

# Melting to long form

In [14]:
df_melt = pd.melt(df, id_vars=['SepalLength', 'PetalLength', 'Species'])
df_melt

     SepalLength  PetalLength         Species    variable  value
0            5.1          1.4     Iris-setosa  SepalWidth    3.5
1            4.9          1.4     Iris-setosa  SepalWidth    3.0
2            4.7          1.3     Iris-setosa  SepalWidth    3.2
3            4.6          1.5     Iris-setosa  SepalWidth    3.1
4            5.0          1.4     Iris-setosa  SepalWidth    3.6
..           ...          ...             ...         ...    ...
295          6.7          5.2  Iris-virginica  PetalWidth    2.3
296          6.3          5.0  Iris-virginica  PetalWidth    1.9
297          6.5          5.2  Iris-virginica  PetalWidth    2.0
298          6.2          5.4  Iris-virginica  PetalWidth    2.3
299          5.9          5.1  Iris-virginica  PetalWidth    1.8

[300 rows x 5 columns]

In [15]:
df_melt = pd.melt(df, id_vars='Species', var_name='Measures')
df_melt

            Species     Measures  value
0       Iris-setosa  SepalLength    5.1
1       Iris-setosa  SepalLength    4.9
2       Iris-setosa  SepalLength    4.7
3       Iris-setosa  SepalLength    4.6
4       Iris-setosa  SepalLength    5.0
..              ...          ...    ...
595  Iris-virginica   PetalWidth    2.3
596  Iris-virginica   PetalWidth    1.9
597  Iris-virginica   PetalWidth    2.0
598  Iris-virginica   PetalWidth    2.3
599  Iris-virginica   PetalWidth    1.8

[600 rows x 3 columns]

# Casting to wide form

In [16]:
df_cast = pd.pivot_table(df, index='Species', aggfunc=list)
df_cast.head()

,PetalLength,PetalWidth,SepalLength,SepalWidth
Species,,,,
Iris-setosa,"[1.4, 1.4, 1.3, 1.5, 1.4, 1.7, 1.4, 1.5, 1.4, ...","[0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, ...","[5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, ...","[3.5, 3.0, 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, ..."
Iris-versicolor,"[4.7, 4.5, 4.9, 4.0, 4.6, 4.5, 4.7, 3.3, 4.6, ...","[1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6, 1.0, 1.3, ...","[7.0, 6.4, 6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, ...","[3.2, 3.2, 3.1, 2.3, 2.8, 2.8, 3.3, 2.4, 2.9, ..."
Iris-virginica,"[6.0, 5.1, 5.9, 5.6, 5.8, 6.6, 4.5, 6.3, 5.8, ...","[2.5, 1.9, 2.1, 1.8, 2.2, 2.1, 1.7, 1.8, 1.8, ...","[6.3, 5.8, 7.1, 6.3, 6.5, 7.6, 4.9, 7.3, 6.7, ...","[3.3, 2.7, 3.0, 2.9, 3.0, 3.0, 2.5, 2.9, 2.5, ..."